version: '3.8'

services:
  xray:
    image: teddysun/xray:${XRAY_TAG:-latest}
    container_name: eu-xray-server
    restart: unless-stopped
    network_mode: host
    environment:
      - VLESS_UUID=${VLESS_UUID}
    volumes:
      - ./config/config.json:/etc/xray/config.json:ro
      - ./entrypoint.sh:/entrypoint.sh:ro
      - xray-logs:/var/log/xray
    entrypoint: ["/bin/sh", "/entrypoint.sh"]

volumes:
  xray-logs:
